<div class="bs-component">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/loggedin">LibraryPlus</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <!--<li ><a ui-sref="home">ShowBooks <span class="sr-only">(current)</span></a></li> -->
          <li><a ui-sref="loggedin.addbook">CreateBooks</a></li>
          <li><a ui-sref="loggedin.adddelbook">AddDelBooks</a></li>
          <li><a ui-sref="loggedin.updatebook">UpdateBooks</a></li>
          <li><a ui-sref="loggedin.issuebook">IssueBooks</a></li>
          <li><a ui-sref="loggedin.visual">AdminDashboard</a></li>




        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <center><li>Rohit Anurag</li><center>
              <li class="divider"></li>
            <center>  <li>Pune</li><center>
              <li class="divider"></li>

              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
        </div>
        </div>
        </nav>
        </div><!-- /example -->

        </div>
        </div>
        </div>
