<br>
<div class="row">
  <div class="col-lg-4 col-md-2 col-md-offset-4">
    <div class=" bs-component">
      <form class="form-horizontal" ng-controller="putController" ng-submit="updateUser()">
        <fieldset>
<div class="form-group">
<label class="control-label" for="focusedInput">ISBN</label>
<input class="form-control" id="focusedInput" type="text" ng-model="isbn"  >
</div>



          <div class="form-group ">
            <label for="select" class="control-label">Selects</label>
            <div class="col-lg-14">
              <select class="form-control" id="select" ng-model="mega">
                <option>BookName</option>
                <option>Author</option>
                <option>Publisher</option>
                <option>PageNumber</option>
                <option>Description</option>
                <option>No.OfBooks</option>
                <option>ImageUrl</option>
              </select>

            </div>
          </div>
<div class="form-group">
<label class="control-label" for="focusedInput">Value</label>
<input class="form-control" id="focusedInput" type="text" ng-model="dataa" >
</div>
<br>
          <div class="form-group ">
            <div class="col-lg-14 col-lg-offset-5">
              <button type="submit" class="btn btn-success">Update</button>

            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
